



	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+98 912 518 9439
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							kavousisaeed077@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							Iran - Tehran
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>درباره من</h3>
					<p>Hi guys, my name is Saeed Kavousi and I'm glad to meet you.I am a python programmer.</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Opening hours</h3>
					<p><span class="text-color">یکشنبه ها </span>بسته هستیم</p>
					<p><span class="text-color"> سه شنبه و چهارشنبه ها</span> 9:Am - 10PM</p>
					<p><span class="text-color"> پنج شنبه و جمعه ها</span> 9:Am - 10PM</p>
					<p><span class="text-color">شنبه و دوشنبه ها</span> 5:PM - 10PM</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>اطلاعات تماس</h3>
					<p class="lead">ایران - تهران</p>
					<p class="lead"><a href="#">+98 912 518 9439</a></p>
					<p><a href="#"> kavousisaeed077@gmail.com</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>دنبال کنید</h3>
					<div class="subscribe_form">
						<form class="subscribe_form">
							<input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
							<button type="submit" class="submit">SUBSCRIBE</button>
							<div class="clearfix"></div>
						</form>
					</div>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2018 <a href="#">Saeed Kavousi Restaurant</a> Design By :
					<a href="https://html.design/">html design</a></p>
					</div>
				</div>
			</div>
		</div>

	</footer>